@model NoteApp.Models.Note.CreateNoteViewModel
@{
    ViewData["Title"] = "Create New Note";
}

<div class="body">

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Create a Note</h5>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input type="text" class="form-control" id="noteTitle" placeholder="Enter Title" asp-for="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content">Content</label>
                        <textarea class="form-control" rows="15" asp-for="Content" placeholder="Enter the note content"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}*@
