@model NoteApp.Models.Note.NoteViewModel

@{
    ViewData["Title"] = "Note Detail";
}

<div class="body">

    @if (Model is not null)
    {
        <dl class="row">
            <dt class="col-sm-4">
                Title:
            </dt>

            <dd class="col-sm-8">
                @Model.Title
            </dd>

            <dt class="col-sm-4">
                Content:
            </dt>

            <dd class="col-sm-8">
                @Model.Content
            </dd>
        </dl>
        <br />


        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">
            Back to list
        </a>
    }
</div>