@model NoteApp.Models.Note.UpdateNoteViewModel
@{
    ViewData["Title"] = "Update Note";
}

<div class="body">

    @if (Model is not null)
    {
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Update Note</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Update">
                        <input type="hidden" asp-for="Id"/>
                        <div class="form-group">
                            <label asp-for="Title">Title</label>
                            <input type="text" class="form-control" placeholder="Enter Title" asp-for="Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Content">Content</label>
                            <textarea class="form-control" rows="15" asp-for="Content" placeholder="Enter the note content"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Update</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>